<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/static/css/404.css">
	<link rel="stylesheet" href="/static/css/epoch.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta property="og:title" content="500" />
	<meta property="og:description" content="Error 500 - {{{productName}}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error 500 - {{{productName}}}</title>
</head>

<body class="epoch-dark epoch-font">
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>500</h1>
			</div>
			<br /> <br><br><br>
			<p style="color: #EEF0F2; font-size: 1.25em;">There was a problem processing your request. Please, try
				again.</p>
			<p style="color: #EEF0F2; font-size: 1.25em;"></p>
			<br><br><br>
			<a href="{{{orgHome}}}"><img src="{{{logoPath}}}" height="60"></a>
		</div>
	</div>
	<div class="container fixed-bottom">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-4 d-flex align-items-center">
				<span class="mb-3 mb-md-0 text-white">©
					<script>document.write(new Date().getFullYear())</script> {{{copyrightOwner}}}
				</span>
			</div>
			<ul class="nav col-md-4 justify-content-end">
				<li class="nav-item"><a href="{{{orgHome}}}" class="nav-link px-2 text-white">{{{copyrightOwner}}}
						Home</a></li>
				<li class="nav-item"><a href="{{{statusURL}}}/" class="nav-link px-2 text-white">System
						Status</a></li>
			</ul>
		</footer>
	</div>
</body>

</html>